*{
  padding:0px;
  margin:0px; 
  
}
p{
  font-size:15px;
}
label{
  font-size:20px;
}
.card {
  background-color:black;
  width:35%;
  margin-left:32.5%;
  border-radius:5px;
}
::placeholder{
  font-size:20px;
  color:white;
}
select{
  background-color: black;
}


