*{
  padding:0px;
  margin:0px; 
}
.bg{
  background-image:  linear-gradient(to bottom right, rgb(2, 52, 71),rgb(141, 218, 248));
  padding:10px 0px 17px 0px;
}

p{
  font-size:15px;
}
.card-heading{
  padding:20px 0 20px 0px;
  color:rgb(2, 98, 136);
}
.card {
  /* background-color:black; */
  width:35%;
  margin-left:32.5%;
  margin-top:28px;
  border-radius:5px;
  }
.card-body{
  padding:30px;
}
::placeholder{
  font-size:20px;
  color:#727975;
}
select{
  font-size:20px;
  color:#727975;
  padding:0px;
  border: none;
  border-bottom: 1px solid ;
}

.bt{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
}
.btn-large{
  background-color:rgb(3, 64, 88);
  font-size:18px;
}