<div class="bg">
<div class="card">
<div class="card-heading"><h2 style="text-align:center;">Register Yourself !</h2></div> <hr>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Successfully Submitted!</strong> 
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="card-body">
  <form #studentform="ngForm" (ngSubmit)="handlebutton(); studentform.reset()">
    <div class="form-group">
      <input required type="text" placeholder="Name" #name="ngModel" [class.is-invalid]="name.touched && name.invalid" class="form-control" name="name" [(ngModel)]="studentModel.name"/>
    <p class="text-danger" *ngIf="name.touched && name.invalid">Name is required!</p>
    </div>
    
    <div class="form-group">
      <input required type="password" placeholder="Password" #password="ngModel" [class.is-invalid]="password.touched && password.invalid" class="form-control" name="password" [(ngModel)]="studentModel.password"/>
      <p class="text-danger" *ngIf="password.touched && password.invalid">Password is required!</p>
    </div>

    <div class="form-group">
      <input required type="text" placeholder="Date of Birth" onfocus="(this.type='date')" onblur="(this.type='text')" #date="ngModel" [class.is-invalid]="date.touched && date.invalid" name="dob" [(ngModel)]="studentModel.date">
      <p class="text-danger" *ngIf="date.touched && date.invalid">DOB is required!</p>
    </div>
    
    <div class="form-group">
      <select  required #gender="ngModel" [class.is-invalid]="gender.touched && gender.invalid" class="form-control"  name="gender" [(ngModel)]="studentModel.gender">
      <option [ngValue]="undefined" disabled>Select Gender</option>
      <option *ngFor="let g of Gender" value="g">{{g}}</option>
      </select>
      <p class="text-danger" *ngIf="gender.touched && gender.invalid">Gender is required!</p>
    </div>

    <div class="form-group">
      <input required type="email" placeholder="Email" #email="ngModel" [class.is-invalid]="email.touched && email.invalid" class="form-control" name="email" [(ngModel)]="studentModel.email">
      <p class="text-danger" *ngIf="email.touched && email.invalid">Email is required!</p>
    </div>

    <div class="form-group">
      <input required type="tel" placeholder="Phone" #phone="ngModel" [class.is-invalid]="phone.touched && phone.invalid" class="form-control" name="phone" [(ngModel)]="studentModel.phone">
      <p class="text-danger" *ngIf="phone.touched && phone.invalid">Phone no is required!</p>
    </div>
    <div class="bt">
    <button type="submit"  class="waves-effect waves-light btn-large" (click)="handlebutton()" [disabled]="!studentform.form.valid">Submit</button>
    </div>
  </form>  
</div>
</div>
</div>
